doctype html
html(lang="en" class="dark min-h-screen")
  head
    title 404 | Shreesh Kulkarni 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="This is a website for rubix")
    meta(name="author" content="Shreesh Kulkarni")
    // link(rel="icon" type="image/x-icon" href="./assets/profile.ico")
    link(rel="stylesheet" href="./assets/style/tailwind.css")

  body.antialiased.relative.text-white(class="bg-gray-50 text-gray-800 min-h-screen")
    section#landing(class="w-full md:px-40 md:mx-0 md:flex-row lg:px-60 h-screen w-full flex items-center justify-center flex-col-reverse px-8 ")
      div(class="text-center flex flex-col")
        h1.font-bold.text-6xl.mb-6.tracking-wide 404
        p.tracking-wide.font-normal.text-2xl Page not found. Please head back to the 
          a(href="/" class="text-blue-400 hover:underline") Home Page
          | .
  footer(class="text-center fixed bottom-0 -inset-x-1/2 my-4") Made with ❤️ by Shreesh Kulkarni
