doctype html
html(lang="en" class="dark")
  head
    title Rubix x.0 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="This is a website to showcase rubix events")
    meta(name="author" content="Shreesh Kulkarni")
    // link(rel="icon" type="image/x-icon" href="./assets/profile.ico")
    link(rel="stylesheet" href="./assets/style/tailwind.css")
    script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")

  body.antialiased.relative.text-white(class="bg-gray-50 text-gray-200 my-10")
    section#landing(class="w-full md:px-40 md:mx-0 md:flex-row lg:px-60 h-full md:h-screen w-full flex items-center justify-center flex-col-reverse px-8 ")
    footer.text-center.my-4 Made with ❤️ by Shreesh Kulkarni
    script(src="./assets/js/particle.js")
